# When activated, recorded wav files will be written to ~/openears/devicehive-dev/samples to test the mike
# export CAPTUREPARAMS="-s samples"

export MQTTSID=servalhr
export MQTTBROKER=iot.eclipse.org
export MQTTPORT=1883
export MQTTTOPIC=asphenk

# Manual configuration:
# copy the correct asoundrc file to ~/.asoundrc